body{
  margin: 0px;
  font-family: sans-serif;
}

header{
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 10px;
}

.header-icon{
  display: inline-block;
  margin-bottom: 10px;
  width: 50px;
  float: left;
}

.header-div-top{
  display: block;
  margin: 10px;
  float: left;
}

.header-span-top{
  margin-right: 10px;
  margin-left: 10px;
  color: #FF512F;
  font-family: sans-serif;
  font-weight: 600;
}

.header-men{
  margin-left: 0px;
}

.header-span-bottom{
  margin: 10px;
  color: #FD512F;
  font-family: sans-serif;
  float: right;
  font-weight: 600;
}

h1{
  color: white;
  font-size: 50px;
}

.top-shoe-div{
  overflow: auto;
  border-top: 10px solid #F34D2D;
  background-color: #FF512F;
  clear: both;
}

.back-to-shoes-link{
  text-align: left;
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 25px;
}

.shoe1{
  width: 100%;
}

.shoe-and-link-top{
  float: left;
  width: 40%;
  padding-left: 150px;
  padding-top: 40px;
}

.quick-sneaker-text{
  float: right;
  width: 35%;
  padding-right: 100px;
}

.quick-sneakers{
  margin-bottom: 5px;
}



.filler-text-div1{
  margin-top: 50px;
  border-top: 2px dashed #B03921;
  border-bottom: 2px dashed #B03921;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 18px;
  line-height: 1.7em;
}

.review-link{
  float: right;
  color: #9C2E36;
}

#money-div1{
  margin-bottom: 50px;
  margin-top: 10px;
  margin-right: 25px;
  display: inline-block;
  color: white;
  font-size: 25px;
}

.dollar-sign{
  font-size: .8em;
  vertical-align: text-top;
}

.link-buynow{
  font-size: 20px;
  border: 1px solid white;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
  color: #FF512F;
}

.center-section{
  padding: 75px 325px 0px;
}

.center-header{
  color: #FF5534;
  border-bottom: 1px solid #FF5534;
  font-weight: bold;
  padding-right: 20px;
}

.header-text-center{
  font-size: 30px;
  color: #503226;
}

.review-tab{
  float: right;
}

.shop-recommended-shoes{
  text-align: center;
  padding: 25px 25px;
  background-color: #FFEEEB;
  margin: 0px;
}

.bottom-shoe-section{
  overflow: auto;
}

.bottom-shoe-div{
  float: left;
  width: 100%;
  text-align: center;
}

.funny-sneaker-div{
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
}

.nimble-sneaker-div{
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  margin-left: 35px;
}

.cute-sneaker-div{
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  margin-left: 35px;
}

.bottom-shoe-img{
  width: 100%;
}

.spring-summer-span{
  display: inline-block;
  color: #9C2E36;
}

.funny-sneakers{
  color: white;
  font-size: 15px;
  text-align: left;
  display: inline-block;
  width: 100%;
}

.link-price{
  color: white;
  font-size: 20px;
  text-decoration: none;
  float: right;
}

footer{
  overflow: auto;
  display: inline-block;
  width: 100%;
}

.shoe-icon-footer{
  display: block;
  width: 50px;
  margin: 15px 15px;
  float: left;
}

.footer-div{
  margin: 20px 10px;
}

.header-span-footer{
  margin: 20px 10px;
  color: #FF512F;
  font-family: sans-serif;
  font-weight: 600;
}

.footer-links{
  float: right;
  margin: 2px;
  color: #9C2E36;
}
